<?xml version="1.0" encoding="UTF-8"?>
<!--
  ~ Copyright (c) 2024 u-donbei
  ~
  ~ Released under the EPL license.
  ~
  ~ see https://www.eclipse.org/legal/epl-2.0/
  -->

<configuration>
	<property name="log.pattern" value="%d{yyyy/MM/dd HH:mm:ss.SS} %-30c{15} %-5p [%-50t] - %msg%n" />
	<property name="log.level" value="info" />
	<appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
		<target>System.out</target>
		<encoder>
			<pattern>${log.pattern}</pattern>
		</encoder>
		<filter class="jp.u_donbei.udon_pasuta.logging.filter.BelowFilter">
			<level>WARN</level>
		</filter>
	</appender>
	<appender name="STDERR" class="ch.qos.logback.core.ConsoleAppender">
		<target>System.err</target>
		<encoder>
			<pattern>${log.pattern}</pattern>
		</encoder>
		<filter class="ch.qos.logback.classic.filter.ThresholdFilter">
			<level>WARN</level>
		</filter>
	</appender>
	<appender name="FILE" class="ch.qos.logback.core.rolling.RollingFileAppender">
		<file>./log/udon_pasuta-all.log</file>
		<rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
			<fileNamePattern>./log/udon_pasuta-all-%d{yyyy-MM-dd}.log</fileNamePattern>
			<maxHistory>20</maxHistory>
		</rollingPolicy>
		<encoder>
			<pattern>${log.pattern}</pattern>
		</encoder>
	</appender>

	<root level="${log.level}">
		<appender-ref ref="STDOUT" />
		<appender-ref ref="STDERR" />
		<appender-ref ref="FILE" />
	</root>
</configuration>